<!-- Modal Cambiar contraseña -->
<form action="/users/change_password" method="post" id="form_change_password">
    <div class="modal fade" id="modal-user-change_password" tabindex="-1" role="dialog" aria-labelledby="modal-user-change_passwordLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-user-change_passwordLabel">Cambiar contraseña</h3>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                            </svg>
                        </span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Esta ventana le permitirá cambiar la contraseña de su usuario ("<strong class="font-weight-bold"><%= user.email %></strong>"). Para ello, ingrese su contraseña actual y la nueva contraseña que desea establecer.</p>
                    <div class="form-group">
                        <label class="form-label float-left">Contraseña actual</label>
                        <div class="input-group">
                            <span class="input-group-text border-right-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 390 511.815">
                                    <path fill-rule="evenodd" d="M24.983 197.869h16.918v-39.203c0-43.387 17.107-82.959 44.667-111.698C114.365 18 152.726 0 194.998 0c42.259 0 80.652 17.981 108.41 46.968 27.58 28.739 44.692 68.292 44.692 111.698v39.203h16.917c13.738 0 24.983 11.245 24.983 24.984v263.978c0 13.739-11.245 24.984-24.983 24.984H24.983C11.226 511.815 0 500.57 0 486.831V222.853c-.013-13.739 11.226-24.984 24.983-24.984zm149.509 173.905l-26.968 70.594h94.923l-24.966-71.573c15.852-8.15 26.688-24.67 26.688-43.719 0-27.169-22.015-49.169-49.184-49.169-27.153 0-49.153 22-49.153 49.169-.016 19.826 11.737 36.905 28.66 44.698zM89.187 197.869h211.602v-39.203c0-30.858-12.024-58.823-31.376-79.005-19.147-19.964-45.49-32.368-74.428-32.368-28.925 0-55.288 12.404-74.422 32.368-19.37 20.182-31.376 48.147-31.376 79.005v39.203z" />
                                </svg>
                            </span>
                            <input type="password" name="password" placeholder="Ingrese su contraseña actual" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label float-left">Nueva contraseña</label>
                        <div class="input-group">
                            <span class="input-group-text border-right-0">
                                <svg xmlns="http://www.w3.org/2000/svg"  width="20" height="20" fill="currentColor" viewBox="0 0 391 511.93">
                                    <path fill-rule="evenodd" d="M26.19 200.64h1.66v-27.23c0-45.42 17.37-89.23 48.84-122.04 15.47-16.13 34-29.18 54.59-38.1 40.87-17.7 87.58-17.69 128.45.01 41.49 17.97 74.01 52.45 90.77 94.31a177.081 177.081 0 0 1 12.65 65.82v27.23h1.67c14.4 0 26.18 11.79 26.18 26.19v258.91c0 14.4-11.78 26.19-26.18 26.19H26.19C11.77 511.93 0 500.14 0 485.74V226.83c-.01-14.42 11.78-26.19 26.19-26.19zm251.94 141.23v28.77c-.01 5.89-4.86 10.68-10.68 10.68h-46.92v46.91c-.01 5.89-4.85 10.68-10.68 10.68h-28.77c-5.87-.03-10.65-4.8-10.65-10.68v-46.91h-46.91c-5.88-.03-10.65-4.8-10.65-10.68v-28.77c.03-5.87 4.78-10.64 10.65-10.65h46.91V284.3c.02-5.87 4.79-10.62 10.65-10.65h28.77c5.89.01 10.66 4.78 10.68 10.65v46.92h46.92c5.88.01 10.65 4.77 10.68 10.65zM91.76 200.64H299.2v-27.23c0-14.97-2.84-29.22-7.97-42.15-10.39-26.18-30.59-47.97-56.53-59.25-24.91-10.83-53.53-10.83-78.44.01-40.13 17.42-64.5 58.28-64.5 101.39v27.23z" />
                                </svg>
                            </span>
                            <input type="password" name="new_password" placeholder="Ingrese su nueva contraseña" minlength="8" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label float-left">Confirmar nueva contraseña</label>
                        <div class="input-group">
                            <span class="input-group-text border-right-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 95.17 122.88">
                                    <path fill-rule="evenodd" d="M6.37,47.11H8.53V40.48A41.15,41.15,0,0,1,19.92,12a37.93,37.93,0,0,1,55.33,0,41.16,41.16,0,0,1,11.4,28.5v6.63H88.8a6.39,6.39,0,0,1,6.37,6.37v63a6.39,6.39,0,0,1-6.37,6.37H6.37A6.39,6.39,0,0,1,0,116.51v-63a6.39,6.39,0,0,1,6.37-6.37Zm14.22,0h54V40.48a29.07,29.07,0,0,0-8-20.16,26,26,0,0,0-38,0,29,29,0,0,0-8,20.16v6.63ZM35.3,77l7,6.53L58.84,66.72c1.47-1.5,2.39-2.69,4.21-.83l5.9,6c1.93,1.92,1.83,3,0,4.83L45.62,99.69c-3.85,3.78-3.19,4-7.08.13L25.37,86.74a1.71,1.71,0,0,1,.16-2.65L32.38,77c1-1.07,1.85-1,2.92,0Z" />
                                </svg>
                            </span>
                            <input type="password" name="confirm_new_password" placeholder="Vuelva a ingresar su nueva contraseña" minlength="8" class="form-control" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="submit" form="form_change_password" class="btn btn-dark">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 122.879 118.662">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M43.101,54.363h4.138v-8.738c0-4.714,1.93-8.999,5.034-12.105v-0.004 c3.105-3.105,7.392-5.034,12.108-5.034c4.714,0,8.999,1.929,12.104,5.034l0.004,0.004c3.104,3.105,5.034,7.392,5.034,12.104v8.738 l3.297,0.001c0.734,0,1.335,0.601,1.335,1.335v28.203c0,0.734-0.602,1.335-1.336,1.335H43.101c-0.734,0-1.336-0.602-1.336-1.335 V55.698C41.765,54.964,42.366,54.363,43.101,54.363L43.101,54.363z M16.682,22.204c-1.781,2.207-3.426,4.551-5.061,7.457 c-5.987,10.645-8.523,22.731-7.49,34.543c1.01,11.537,5.432,22.827,13.375,32.271c2.853,3.392,5.914,6.382,9.132,8.968 c11.112,8.935,24.276,13.341,37.405,13.216c13.134-0.125,26.209-4.784,37.145-13.981c3.189-2.682,6.179-5.727,8.915-9.13 c6.396-7.957,10.512-17.29,12.071-27.138c1.532-9.672,0.595-19.829-3.069-29.655c-3.487-9.355-8.814-17.685-15.775-24.206 C96.695,8.333,88.593,3.755,79.196,1.483c-2.943-0.712-5.939-1.177-8.991-1.374c-3.062-0.197-6.193-0.131-9.401,0.224 c-2.011,0.222-3.459,2.03-3.238,4.041c0.222,2.01,2.03,3.459,4.04,3.237c2.783-0.308,5.495-0.366,8.141-0.195 c2.654,0.171,5.23,0.568,7.731,1.174c8.106,1.959,15.104,5.914,20.838,11.288c6.138,5.751,10.847,13.125,13.941,21.427 c3.212,8.613,4.035,17.505,2.696,25.959c-1.36,8.589-4.957,16.739-10.553,23.699c-2.469,3.071-5.121,5.78-7.912,8.127 c-9.591,8.067-21.031,12.153-32.502,12.263c-11.473,0.109-23.001-3.762-32.764-11.61c-2.895-2.328-5.621-4.983-8.129-7.966 c-6.917-8.224-10.771-18.092-11.655-28.202c-0.908-10.375,1.317-20.988,6.572-30.331c1.586-2.82,3.211-5.071,5.013-7.241 l0.533,14.696c0.071,2.018,1.765,3.596,3.782,3.524s3.596-1.765,3.524-3.782l-0.85-23.419c-0.071-2.019-1.765-3.596-3.782-3.525 c-0.126,0.005-0.25,0.016-0.372,0.032v-0.003L3.157,16.715c-2.001,0.277-3.399,2.125-3.122,4.126 c0.276,2.002,2.124,3.4,4.126,3.123L16.682,22.204L16.682,22.204L16.682,22.204z M53.899,54.363h20.963v-8.834 c0-2.883-1.18-5.504-3.077-7.403l-0.002,0.001c-1.899-1.899-4.521-3.08-7.402-3.08c-2.883,0-5.504,1.18-7.404,3.078 c-1.898,1.899-3.077,4.521-3.077,7.404V54.363L53.899,54.363L53.899,54.363z M64.465,69.795l2.116,9.764l-5.799,0.024l1.701-9.895 c-1.584-0.509-2.733-1.993-2.733-3.747c0-2.171,1.76-3.931,3.932-3.931c2.17,0,3.931,1.76,3.931,3.931 C67.612,67.845,66.261,69.433,64.465,69.795L64.465,69.795L64.465,69.795z" />
                        </svg>
                        &nbsp;Cambiar contraseña
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>