<!-- Modal Subir tabla -->
<div class="modal fade" id="modal-upload-table" tabindex="-1"
    role="dialog" aria-labelledby="modal-upload-tableLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-upload-table">
                    Subir nueva tabla
                </h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                        </svg>
                    </span>
                </button>
            </div>
            <form action="/tables/upload" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <p>Seleccione el archivo Excel con el contenido de la tabla a subir. <strong class="font-weight-bold">Es importante que el archivo sea de tipo Excel, además que solamente contenga la tabla a subir y no más información adicional.</strong></p>
                    <p>El nombre de la tabla debe ser único, y no debe ser "<strong class="font-weight-bold text-danger">users</strong>", "<strong class="font-weight-bold text-danger">logs</strong>", ni "<strong class="font-weight-bold text-danger">tables</strong>"; empezar con "<strong class="font-weight-bold text-danger">system.</strong>", empezar con un <strong class="font-weight-bold">punto</strong>, terminar con un <strong class="font-weight-bold">punto</strong>, tener <strong class="font-weight-bold">espacios</strong>, ni contener <strong class="font-weight-bold">caracteres especiales</strong>.</p>
                    <p>Al guardarse, se ignorará el espacio en blanco antes y después del nombre que haya ingresado.</p>
                    <label class="form-label float-left">Selecione el archivo a subir (XLS, XLSX, CSV)</label>
                    <div class="input-group">
                        <span class="input-group-text border-right-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                                <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
                            </svg>
                        </span>
                        <div class="custom-file">
                            <style>
                                .custom-file-input ~ .custom-file-label::after {
                                    content: "Elegir";
                                }
                            </style>
                            <input type="file" name="newFile" class="custom-file-input" id="chooseFile" accept=".xls, .xlsx, .csv" lang="es" required>
                            <label class="custom-file-label" for="chooseFile">Seleccionar Archivo</label>
                        </div>
                    </div>
                    <label class="form-label float-left mt-3">Nombre de la tabla a subir</label>
                    <div class="input-group">
                        <span class="input-group-text border-right-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-input-cursor-text" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M5 2a.5.5 0 0 1 .5-.5c.862 0 1.573.287 2.06.566.174.099.321.198.44.286.119-.088.266-.187.44-.286A4.165 4.165 0 0 1 10.5 1.5a.5.5 0 0 1 0 1c-.638 0-1.177.213-1.564.434a3.49 3.49 0 0 0-.436.294V7.5H9a.5.5 0 0 1 0 1h-.5v4.272c.1.08.248.187.436.294.387.221.926.434 1.564.434a.5.5 0 0 1 0 1 4.165 4.165 0 0 1-2.06-.566A4.561 4.561 0 0 1 8 13.65a4.561 4.561 0 0 1-.44.285 4.165 4.165 0 0 1-2.06.566.5.5 0 0 1 0-1c.638 0 1.177-.213 1.564-.434.188-.107.335-.214.436-.294V8.5H7a.5.5 0 0 1 0-1h.5V3.228a3.49 3.49 0 0 0-.436-.294A3.166 3.166 0 0 0 5.5 2.5.5.5 0 0 1 5 2z"/>
                                <path d="M10 5h4a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1h-4v1h4a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-4v1zM6 5V4H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v-1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h4z"/>
                            </svg>
                        </span>
                        <input type="text" name="coll_name" placeholder="Ingrese el nombre de la tabla a subir" class="form-control" maxlength="40" pattern='^[a-zñáéíóúüA-ZÑÁÉÍÓÚÜ0-9_.-]*$' required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cloud-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2z"/>
                            <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
                        </svg>
                        &nbsp;Subir tabla
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>